<div class="form-signin">
    <img class="mb-4" src="/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input #email type="email" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input #password type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-success btn-block" type="submit" (click)="join(email.value, password.value)">회원가입</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2020-2020</p>
</div>